
/* <!-- Pag web para dispositivos moviles -->*/

@media only screen and (max-width:900px){
    /* eliminamos la barra de navegación y links de redes sociales*/
    .div_inicio{
        display: none;
    }
    .cont_links{
        display: none;
        
    }

    #header_p{
        width: 100%;
        height: 90px;
        background:#fff;
        color:#4b4b4b;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: 140px;
        justify-items: center;
        align-content: center;
        z-index: 500;
        
    }
        .cont_logo{
            display: grid;
            z-index: 501;
            /* background: red; */
            transform: translate(0,0);
            width: 90px;
            animation-name: opacidad;/*le debemos dar un nombre a la animación para mencionarla en el (@keyframes)*/
            animation-duration: 2s;
            animation-iteration-count: 1;
            opacity: 1;
        }
        #logodelicattus{
            width: 86px;
            height: 86px;
            z-index: 449;
        }
        .cont_busqueda_movil{
            display: grid;
            background: #81d3c3;
            color: #4b4b4b;
            font-size: 20px;
            background: #81d3c3;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            z-index: 446;
            justify-items: center;
            align-content: center;
            transform: translate(80px,50px);
            margin: 1px;
            animation-name: opacidad;/*le debemos dar un nombre a la animación para mencionarla en el (@keyframes)*/
            animation-duration: 2s;
            animation-iteration-count: 1;
            opacity: 1;
        }
        .cont_busqueda_movil:hover{
            background: #fff;
            color: #000;
            transition: 0.8s;
            cursor: pointer;
            
        }
            .busqueda_movil{
                display: none;
                width: 200px;
                height: 40px;
                z-index: 445;
            }
        .cont_carrito{
            /* display: grid; */
            display: block;
            background: #81d3c3;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            transform: translate(0px,50px);
            }
                .cont_carrito:hover{
                    background: #fff;
                    color: #000;
                    transition: 0.8s;
                    cursor: pointer;
                    box-shadow: none;
                    
                }
                .img_carrito{
                    width: 25px;
                    /* height: 30px; */
                    padding: 7px 0px 0px 7px;
                }
                @keyframes opacidad {
                    from{
                        opacity: 0.1;
                    }
                    to{
                        opacity: 1;
                    }
                } 
    /* Diseño del boton responsive de navegación*/
    .nav_movil{
        background:#81d3c3;
        width:100%;
        height: 50px;
        margin: 0 0 10px 0 ;
        position: sticky;
        top: 0px;
        z-index: 444;
    }
    .lista_responsive{
        display: contents;
        position: relative;
        background: green;
        
        
    }
        .cont_boton{
            display: contents;
            position: relative;
            width: 35px;
            height: 50px;
            padding: 0 0 10px 0 ;
            
        }
            .boton_responsive{
                display: block;
                position: relative;
                top: 4px;
                left: 30px;
                color: #9e7900;
                width: 20px;
                height: 30px;
                padding: 0 0 10px 0  ;
                font-size: 45px;
                z-index: 100;

            }
                .boton_responsive:hover > i{
                    cursor: pointer;
                    font-size: 42px;
                    color: #fff;
                }
                .boton_responsive:active > i{
                    color: #000;
                }
    .cont_items_responsive{
        background: #4b4b4b;
        border-radius: 2px;
        display: none;
        position: relative;
        width: 60mm;
        height: calc(100vh - 10px);
        text-align: center;
        padding: 2px;
        opacity: 95%;
        }
            .lista_responsive:hover > .cont_items_responsive{
                display: block;
                position: relative;
                top: 10px;
                right: 1px;
            }
            .item_lista{
                display: block;
            }
            .link_inicio_responsive{
                font-family: 'Nova Oval', cursive;
                font-size: 30px;
                padding: 15px;
                text-decoration-line: none;
                color:#fff;
                display: block;
                opacity: 60%;
            }
            .link_inicio_responsive:hover{
                /* background: #666; */
                border-left: 3px solid #81d3c3;
                opacity: 1;
            }

            .link_inicio_responsive:active{
                color: #000;
                
            }

    
}